<!DOCTYPE html>
<html>
<head>
    <title>Linkify</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>User Clicks : <%=  clicks%></h1>
        </div>
    </div>
</body>

<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</html>
